footer > .container{
    display: flex;
    color: #fff;
    background-color: var(--brand-color);
    height: 252px;
    justify-content: center;
    align-items: center;
}

.footer-content{
    display: flex;
    gap: 70px;
    margin-right: 675px;
    justify-content: space-between;
    
}

footer a {
    color: #a5a5a5;
}

.contacts-section1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialMedia{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-form{
    display: flex;
    gap: 16px;
}

.footer-form input{
    background-color: var(--brand-color);
    border: solid 1px rgba(255, 255, 255, 0.3);
    padding: 16px;
    width: 358px;
    border-radius: 5px;
}

.footer-form button{
    background-color: var(--brand-color-blue);
    color: #fff;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 4px;
}