footer > .container{
    display: flex;
    color: #fff;
    background-color: var(--brand-color);
    height: 252px;
    justify-content: center;
    align-items: center;
}

.footer-content{
    display: flex;
    gap: 70px;
    margin-right: 675px;
    align-items: center;
    justify-content: center;
}

footer a {
    color: #a5a5a5;
}

.contacts-section1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialMedia{
    display: flex;
    flex-direction: row;
    gap: 10px;
}