header > .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo-blue{
    color: var(--brand-color-blue);
}

.logo{
    font-family: Raleway;
}

.nav-menu{
    display: flex;
    gap: 50px
}

a {
    color: var(--brand-text);
    text-decoration: none;
}

.contacts{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    color: var(--brand-color-lightgray);
}

