/* block 1 */

.order > .container{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: url("../imgs/background.webp") center / cover no-repeat;
}

.order-title{
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.order-button{
    background-color: var(--brand-color-blue);
    color: white;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border: none;
}


/* block 2 */

.special > .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 94px 0px 90px 0px;
}



.special-object{
    display: flex;
    width: 290px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}


.special-objectP{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #757575;
}

.icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  justify-content: center;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    height: 120px;
}


