/* block 1 */

.order > .container{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: url("../imgs/background.webp") center / cover no-repeat;
}

.order-title{
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.order-button{
    background-color: var(--brand-color-blue);
    color: white;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border: none;
}


/* block 2 */

.special > .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 94px 0px 90px 0px;
}



.special-object{
    display: flex;
    width: 290px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}


.special-objectP{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #757575;
}

.icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  justify-content: center;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    height: 120px;
}

/* block 3 */

.work > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

.work-gallery{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.title-wwd {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-text);
}

.text-wwd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: #fff;
    background-color: rgb(47, 48, 58, 0.8);
    position: relative;
    bottom: 74px;
}

.text-wwd p{
    font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: #fff;
}

/* block 4 */

.ourTeam > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #f5f4fa;
    height: 708px;
}

.list-ourTeam-parent{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 428px;
}

.list-ourTeam_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 5px 5px #afafaf;
}

.list-ourTeam_card img{
    
    justify-content: start;
    align-items: start;
}

.card-subtitle{
    margin-top: -10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #757575;
}

.ourTeam-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-text);
}

/* block 5 */

.customers > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 184px;
    margin: 50px 0px 100px 0px;
    gap: 50px;
}

.customers-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-text);
}

.customers-line{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.customer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: solid 1px #afb1b8;
    border-radius: 5px;
}