/* block 1 */

.order > .container{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: url("../imgs/background.webp") center / cover no-repeat;
}

.order-title{
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.order-button{
    background-color: var(--brand-color-blue);
    color: white;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border: none;
}


/* block 2 */

.special > .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 94px 0px 90px 0px;
}

.special-object{
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 70px;
    height: 70px;
}

.special-objectP{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #757575;
}


